
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8" />
  <title>EPay</title>
  <link rel="Stylesheet" href="style.css" />
  <script src="angular.js"></script>
  <script src="nganimate.js"></script>
  <script src="uirouter.js"></script>
  <script src="script.js"></script>
</head>
<body ng-app="app" ng-controller="mainCtrl" ng-keydown="onKeydown($event)">
  <div id="wrapper">
    <img src="images/epayment.header.JPG" alt="logo" />
    <div id="title">سیستم پرداخت اینترنتی بانک پاسارگاد</div>
    <div id="top-links-row">
      <a href="#">ورود به سایت پاسارگاد</a>
      <a href="#">عضویت در سایت</a>
      <a href="#">سرویس‌های جدید</a>
      <a href="#">راهنمای پرداخت اینترنتی</a>
      <a href="#">سوالات متداول</a>
      <a href="#">ارائه نظرات و پیشنهادات</a>
    </div>
    <div id="orange-seperator"></div>
    <div id="sidebar" ng-controller="sidebarCtrl" ng-keydown="onKeydown($event)" >
      <input id="sidebar-search" placeholder="جستحو..." ng-model="filter" ng-change="onFilter()" />
      <div ng-repeat="item in items">
        <a class="item header" ng-click="item.collapsed = !item.collapsed" ng-bind="item.title" epay-highlights="item.highlights"></a>
        <div class="group" ng-class="{collapsed: item.collapsed}">
          <a class="item" ng-repeat="item in item.items" ng-bind="item.title" epay-highlights="item.highlights" ui-sref="{{item.sref}}" ui-sref-active="active"></a>
        </div>
      </div>
    </div>
    <div id="contents">
      <div id="view" ui-view></div>
    </div>
    <div class="clearfix"></div>
    <div id="footer">
      <div id="footer-line"></div>
      <div id="footer-text">&copy; تمامی حقوق برای بانک پاسارگاد محفوظ است. bpi.ir</div>
    </div>
  </div>
  <script type="text/ng-template" id="shaparakBillPayment.html">
    <h1 class="header">پرداخت اینترنتی قبوض</h1>
    <fieldset>
      <legend>پرداخت از طریق شناسه قبض و شناسه پرداخت</legend>
      <div class="input-group">
        <label>شناسه قبض* :</label>
        <input />
        <a>
          <img src="images/help.png" alt="توضیحات بیشتر" />
        </a>
      </div>
      <div class="input-group">
        <label>شناسه پرداخت* :</label>
        <input />
        <a>
          <img src="images/help.png" alt="توضیحات بیشتر" />
        </a>
      </div>
      <div class="input-group">
        <label>پست الکترونیکی (اختیاری) :</label>
        <input />
        <a>
          <img src="images/help.png" alt="توضیحات بیشتر" />
        </a>
      </div>
      <input type="submit" class="submit" value="ادامه" />
    </fieldset>
    <fieldset>
      <legend>پرداخت قبض موبایل از طریق شماره موبایل(همراه اول)</legend>
      <div class="input-group">
        <label>شماره موبایل* :</label>
        <input />
        <a>
          <img src="images/help.png" alt="توضیحات بیشتر" />
        </a>
        <span>(مثال:09121234567)</span>
      </div>
      <div class="input-group">
        <label>پست الکترونیکی (اختیاری) :</label>
        <input />
        <a>
          <img src="images/help.png" alt="توضیحات بیشتر" />
        </a>
      </div>
      <input type="submit" class="submit" value="ادامه" />
    </fieldset>
  </script>
  <script type="text/ng-template" id="shaparakBatchBillPayment.html">
    <h1 class="header">پرداخت قبض گروهی</h1>
  </script>
  <script type="text/ng-template" id="shaparakIrancellCC.html">
    <h1 class="header">خرید شارژ ایرانسل</h1>
  </script>
  <script type="text/ng-template" id="shaparakMciCC.html">
    <h1 class="header">خرید شارژ همراه اول</h1>
  </script>
  <script type="text/ng-template" id="shaparakRightelCC.html">
    <h1 class="header">خرید شارژ رایتل</h1>
  </script>
  <script type="text/ng-template" id="shaparakTaliyaCC.html">
    <h1 class="header">خرید شارژ تالیا</h1>
  </script>
  <script type="text/ng-template" id="changePin2.html">
    <h1 class="header">تغییر رمز اینترنتی کارت (PIN2)</h1>
  </script>
  <script type="text/ng-template" id="blockCard.html">
    <h1 class="header">مسدود کردن کارت</h1>
  </script>
  <script type="text/ng-template" id="payOrder.html">
    <h1 class="header">انتقال وجه</h1>
  </script>
  <script type="text/ng-template" id="transferToAccount.html">
    <h1 class="header">انتقال وجه کارت به سپرده</h1>
  </script>
  <script type="text/ng-template" id="balanceInquiry.html">
    <h1 class="header">اعلام موجودی</h1>
  </script>
  <script type="text/ng-template" id="getStatement.html">
    <h1 class="header">صورت حساب</h1>
  </script>
  <script type="text/ng-template" id="batchTransfer.html">
    <h1 class="header">انتقال وجه گروهی</h1>
  </script>
  <script type="text/ng-template" id="getCyberCard.html">
    <h1 class="header">به دستور بانک مرکزی تا اطلاع ثانوی امکان خرید کارت مجازی مقدور نمی باشد</h1>
  </script>
  <script type="text/ng-template" id="extendCyberCard.html">
    <h1 class="header">تمدید کارت مجازی</h1>
  </script>
  <script type="text/ng-template" id="chargeCyberCard.html">
    <h1 class="header">شارژ کارت مجازی</h1>
  </script>
  <script type="text/ng-template" id="mobilePaymentDownload.html">
    <h1 class="header">دریافت برنامه پرداخت همراه</h1>
  </script>
  <script type="text/ng-template" id="USSD.html">
    <h1 class="header">راهنمای سرویس USSD</h1>
  </script>
</body>
</html>
