
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {  
  font-family: tahoma;
  font-size: 12px;
  direction: rtl;
}

a {
  text-decoration: none;
}

.clearfix {
  clear: both;
}

#wrapper {
  width: 750px;
  margin: 30px auto;
}

#title
{
  border: 1px solid #df9a00;
  border-left: none;
  border-right: none;
  text-align: left;
  font-weight: bold;
  padding: 3px 0;
}

#top-links-row a {
  float: right;
  margin: 3px 7px;
  font-size: 11px;
  font-weight: normal;
  color: #003399;
}

#top-links-row {
  height: 22px;
}

#top-links-row a:hover {
  color: #0099CC;
  text-decoration: underline;
}

#orange-seperator {
  height: 16px;
  background-color: #FCF1DC;
}

#sidebar {
  float: right;
  margin-top: 10px;
  width: 130px;
}

#sidebar .item {
  background-color: #FFF7D2;
  margin: 1px 0;
  padding: 5px 11px;
  font-size: 11px;
  display: block;
  color: black;
}

#sidebar .item.active {
  background-color: #DDF2FF;
  margin: 1px 0;
  padding: 5px 11px;
  font-size: 11px;
  display: block;
  color: black;
}

#sidebar .item .highlight {
  color: red;
}

#sidebar .header {
  background-color: #FFF1AE;
  font-weight: bold;
  padding: 5px 3px;
  cursor: pointer;
}

#sidebar .group {
  overflow: hidden;
  transition: 0.3s;
  max-height: 150px;
  opacity: 1;
}

#sidebar .group.collapsed {
  max-height: 0;
  opacity: 0;
}

#sidebar #sidebar-search {
  border: 1px solid black;
  width: 100%;
  margin: 3px 0;
  padding: 2px 5px;
}

#sidebar #sidebar-search:focus {
  border: 3px solid blue;
  width: 100%;
  margin: 3px 0;
  padding: 2px 5px;
}

#contents {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  width: 600px;
  position: relative;
  min-height: 700px;
}

#contents #view { 
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.3s;
}

#contents #view.ng-enter, #contents #view.ng-leave-active {
  opacity: 0;
}

#contents #view.ng-enter-active {
  opacity: 1;
}

#contents .header
{
  font-size: 9pt;
  color: #451616;
  text-align: right;
  direction: rtl;
}

#contents fieldset {
  border: 2px groove threedface;
  margin: 20px 0;
  padding: 20px 0;
  width: 599px;
}

#contents fieldset legend {
  color: blue;
  text-align: center;
}

#contents .input-group {
  margin: 5px 0;
}

#contents label {
  display:inline-block;
  width:150px;
  text-align:left;
}

#contents input {
  border: 2px inset;
  direction: ltr;
  margin-right: 5px;
}

#contents .submit
{
  border: none;
  margin-right: 160px;
  width: 70px;
  padding: 3px;
  border: 1px solid black;
}

#footer {
  text-align: left;
}

#footer-line {
  float: right;
  width: 461px;
  height: 11px;
  border-bottom: 1px solid #df9a00;
}

#footer-text {
  float: left;
}
